<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Thank you</title>
</head>

<body>
    <h3>Thank you, your payment has been processed. </h3>
    <h4> Click <a href='' onClick="myFunc()"> here</a> to see status </h4>

    <script>
        function myFunc() {
            var id = localStorage.getItem('id');
            var url = 'https://test.oppwa.com/v1/checkouts/' + id + '/payment';
            window.open(url);
        }
    </script>
</body>

</html>